


 .box {
	 /* border-style: solid;
    border: 1px */
    position: relative;
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
 }

 body {
    background-image: linear-gradient(120deg, #155799, #159957);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    /* line-height: 1.5; */
 }

 .page-header {
    color: #fff;
    text-align: center;
    padding: 5rem 6rem;
    /* background-color: #159957; */
    /* background-image: linear-gradient(120deg, #155799, #159957); */
 }

 .project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
@media screen and (min-width: 64em)
{.project-name {
    font-size: 3.25rem;
    }
}

 .project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em)
{.project-tagline {
    font-size: 1.25rem;
    }
}

.btn.header {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

@media screen and (min-width: 64em){
    .btn.header{padding:0.75rem 1rem}
}

@media screen and (min-width: 42em) and (max-width: 64em){
    .btn.header{padding:0.6rem 0.9rem;font-size:0.9rem}
}
@media screen and (max-width: 42em){
    .btn.header{display:block;width:100%;padding:0.75rem;font-size:0.9rem}.btn.header+.btn.header{margin-top:1rem;margin-left:0}
}

 /* .stream {
     width: 10%;
 }

 .stop {
    width: 10%;
} */

 .form-control.user-input  {
    width: 50%;
    margin: auto;
    display: inline-block;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-align:center;

 }
 .form-control.user-input:focus  {
    width: 50%;
    margin: auto;
    display: inline-block;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-align:center;

 }

.form-control::-moz-placeholder {
color: rgb(207, 207, 207) !important;
opacity: 1;
}
.form-control:-ms-input-placeholder {
color: rgb(207, 207, 207) !important;
}
.form-control::-webkit-input-placeholder {
color: rgb(207, 207, 207) !important;
}

.post {
    color: rgb(206, 206, 206);
    line-height: 1.5;
    padding: 1%;
    margin-bottom: 20%;
    padding-bottom: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata {
    position: absolute;
    bottom: 10;
    left: 10;
    /* top: 85%; */
    /* padding: 10%; */

}
.author {
    color: rgb(192, 169, 169);
    /* display:block; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 60%;
    
    
}
.username {
    color: rgb(192, 169, 169);
    display:block;
}
.location {
    color: rgb(218, 214, 214);
    /* display:block; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    padding-bottom: 2%;
}
.created {
    color: rgb(68, 68, 68);
    display:block;

}

.fa-map-marker-alt:before {
    /* content: "\f3c5"; */
    color: darkturquoise;
}